*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.container{
    width: 70%;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
}

.title{
    text-align: center;
}

h1{
    padding:20px;
    color: #E53170;
}

.column{
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
    height: fit-content;
}

.clear::after{
    content: "";
    display: table;
    clear: both;
}

.card{
    background-color: black;
    color: white;
    float: left;
    width: calc(100% / 3 - 15px);
    margin-left: 15px;
    margin-top: 40px;
}


img{
    float: left;
    height: 70px;
}

.name{
    float: left;
}

h3, p, a{
    padding: 5px;
}

h3{
    font-size: 15px;
}

a{
    color:#21B7BF;
    text-decoration: none;
}

.text-size{
    font-size: 12px;
}
